body {
    background-color: lightblue;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 50%;
    margin:auto;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightyellow;
    height: 2em;
}

td {
    background-color: aliceblue;
}

input, select {
    margin: 10px;
}

button {
    margin: 5px;
}

.centered {
    text-align: center;
}

.contact, .phone {
    margin: 0 30px;
    padding: 5px;
    background-color: aliceblue;
}

.phone-row {
    margin-left: 30px;
}

.phone-row div {
    display: inline;
}